*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section,footer{
    display: block;
    flex-direction: column;
}
.menu{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 20px;
    display: flex;
    text-transform: capitalize;
    justify-content: space-around;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu header .logo_img{
    width: 80px;
    height: 30px;
    margin-right: 200px;
    animation: slideRight 1.2s ease forwards;
}
@keyframes slideRight{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.menu header .navigation{
margin-top: 10px;
margin-bottom: 0;
}

.menu header .navigation a{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    position: relative;
    opacity: 0;
    animation: slideTop 1.1s ease forwards;
    animation-delay: calc(0.25s * var(--i));
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.menu header .navigation a::before{
    content: '';
    position: absolute;
    left: -4px;
    bottom: -5px;
    background-color: #976E72;
    height: 3px;
    box-sizing: border-box;
    width: 0px;
    transition: .5s;
}
.menu header .navigation a:hover:before{
    width: 90px;
}
.menu header .navigation a:hover{
    color: #976E72;
    transition: .5s;
}
#home{
    color: #976E72;
}
.menu header .navigation #home::before{
    content: '';
    position: absolute;
    left: -4px;
    bottom: -5px;
    background-color: #976E72;
    height: 3px;
    box-sizing: border-box;
    width: 50px;
}
.menu header img{
    width: 30px;
    height: 30px;
}
.btn1{
    color: #976E72;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    background-color: white;
    border: 1px solid #976E72;
    font-weight: bold;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
}
.btn2:hover{
    background-color: transparent;
    color: #976E72;
    border: 1px solid #976E72;
}
.btn2{
    background-color: #976E72;
    color: white;
    font-weight: bold;
    font-size: 23px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
    padding: 11px 52px 11px 52px;
    cursor: pointer;
    transition: 0.3s;
}
.btn2:hover{
    background-color: transparent;
    color: #976E72;
    border: 1px solid #976E72;
}
.menu header .frame{
    display: flex;
    gap: 54px;
    margin-right: 60px;
    margin-left: 100px;

}
#btnMenu{
    display: none;
}
.menu .frame img,.btn1{
    opacity: 0;
    animation: slideSci 1.1s ease forwards;
    animation-delay: calc(0.25s * var(--i));
}
@keyframes slideSci{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.menu .FilterSearch{
    width: 1200px;
    height: 100px;
    position: absolute;
    bottom: 15px;
    left: 165px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.31) inset ,-1px -1px 5px rgba(0, 0, 0, 0.31) inset;
    border-radius: 50px;
    opacity: 0;
    animation: slideSci 1s ease forwards;
    animation-delay: 3s;
}
.menu .FilterSearch ul{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 20px 50px 0px 50px;
}
.menu .FilterSearch .list1{
    gap: 167px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu .FilterSearch .list1 .gapLess{
    margin-left: -80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu .FilterSearch .list2{
    gap: 80px;
}
.menu .FilterSearch .list2 input{
    /*display: none;*/
    border: none;
    width: 100px;
    font-size: 16px;
}
.menu .FilterSearch .list2 input:hover{
    border: 1px solid rgba(0, 0, 0, 0.31);
}

.menu .FilterSearch .list2 li{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    gap: 5px;
    color: rgba(0, 0, 0, 0.31);
    font-weight: bold;
}
.menu .FilterSearch .list2 img{
    width: 15px;
    height: 15px;
}
.menu .FilterSearch button{
    background-color: #976E72;
    color: white;
    font-weight: bold;
    font-size: 23px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
    padding: 11px 52px 11px 52px;
    position: absolute;
    right: 80px;
    bottom: 25px;
}
.menu .FilterSearch button:hover{
    background-color: transparent;
    color: #976E72;
    border: 1px solid #976E72;
}
.type{
    width: 100%;
    height: 100vh;
    position: relative;
}
.type .PhotoCar {
    display: flex;
    margin-left: -10px;
    position: absolute;
    top: 150px;
    left: 60px;
}
.type .PhotoCar img{
    width: 200px;
    height: 150px;
}
.title{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px; 
    text-align: center;
    margin-bottom: 150px;
    margin-top: 180px;
}
.type img{
    width: 1300px;
    height: 130px;
    margin-left: 130px;
}
.Categories{
    width: 100%;
    height: 100vh;
}
.Categories .title{
    margin-top: 0px;
}
.Content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.CategoriesCard{
    min-height: 14em;
    width: 500px;
    overflow: hidden;
    margin: 40px;
    text-align: center;
}
.CategoriesCard .photo img{
    width: 100%;
    height:400px ;
}
.Categories div ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.Categories div ul li{
    font-weight: 300px;
    gap: 5px;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.31);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}
.Categories div ul li img{
    width: 20px;
    height: 20px;
}
.info{
    padding: 1em;
}
.info p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin-top: 15px;
}
.info h1{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px; 
    text-align: center;
    margin-bottom: 15px;
}
.key{
    display: flex;
    justify-content: space-between;
}
.key button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight:200;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 300px;
    background-color:  rgba(217, 217, 217, 1);
    position: absolute;
    top: 3430px;
    display: flex;
    padding: 70px 70px;
}

footer ul{
    list-style: none;
}
footer .logo_img{
    width: 80px;
    height: 30px;
    margin-right: 200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footerCol{
    padding: 0 35px;
    width: 20%;
}
.footerLogo{
    margin-top: -5px;
}
.footerLogo ul{
    margin-top: 20px;

}

.footerCol h4{
    font-size: 22px;
    color:  rgba(0, 0, 0, 0.75);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 25px;
}
.footerCol ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.footerCol ul li a{
    font-size: 17px;
    color:  rgba(128, 128, 128, 1);
    text-decoration: none;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.footerLogo ul li a{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footerCol ul li img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.footerCol .Social ul{
    display: flex;
}
.footerCol .Social ul li{
    margin-right: 20px;
}
.footerCol .Social ul li img{
    width: 30px;
    height: 30px;
}
.heroSec{
height: 100vh;
}

.heroSec .contanier{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
}
.heroSec .contanier .divTxt{
    width: 50%;
    padding-left:90px ;
}
.heroSec .contanier .divTxt h1{
    font-size: 67px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-weight: 400;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.3s;
}
.heroSec .contanier .divTxt p{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.5s;
}
.heroSec .contanier .divTxt .paragraph{
    font-size: 22px;
    color: #00000080;
    opacity: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2s;
}
.heroSec .contanier .divTxt .btn2{
    opacity: 0;
    animation: slideTop 1.1s ease forwards;
    animation-delay: 2.5s;
}
.heroSec .contanier .divImg{
    width: 50%;
    height: 100%;
}

.heroSec .contanier .divImg img{
    width: 650px;
    height: 450px;
    position: absolute;
    right: 0px;
    opacity: 0;
    animation: slideBottom 1.1s ease forwards;
    animation-delay: 0.8s;
}
.heroSec .contanier .divImg .carpic{
    width:550px;
    height: 450px;
    position: absolute;
    right: 50px;
    bottom: -100px;
    opacity: 0;
    animation: slideBottom 1.1s ease forwards;
    animation-delay: 1.3s;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #976E72;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width :980px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menuIcon{
        display: none;
    }
    .icons #closeIcon{
        display: none;
    }
    #check:checked~.icons #closeIcon{
        display: block;
    }
    header .navigation {
        width: 400px;
        height: 0;
        position: absolute;
        top: 80%;
        right: 0px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-left: 1px solid #976E72;
        overflow: hidden;
        text-align: center;
        animation: slideSci 1.1s ease forwards;
        transition: .3 ease;
    }
    #check:checked~.navigation{
        height: 100vh;
        background-color: white;
    }
    header .navigation a{
        width: 100%;
        margin-bottom: 80px;
        animation: slideSci 1.1s ease forwards;
    }
    header .navigation #home{
        margin-top: 50px;
    }
    .menu header .navigation a::before{
        width: 10%;
        left: 0;
    }
    .menu header .navigation a:hover::before{
        width: 100%;
    }
    .menu header .navigation #home::before{
        width: 10%;
        left: 0;
    }.menu header .navigation #home:hover::before{
        width: 100%;
    }
    header .frame{
        visibility: hidden;
    }
    /*#btnMenu{
        color: #976E72;
        font-size: 30px;
        display: block;
        margin-left: 60px;
        float: right;
        cursor: pointer;
        }*/
    @keyframes slideSci{
        0%{
            transform: translateX(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}